<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">CemexUIComponents</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <!--<div class="col-lg-12 col-md-12 form-group">
                <input type="text" name="" id="" class="form-control" placeholder="search a component" [(ngModel)]="search_component" [value]="search_component">
            </div>-->
            <div class="col-lg-12 col-md-12" style="padding: 0">
                <ul class='nav navbar-nav' >
                    <li [routerLinkActive]="['link-active']" *ngFor="let component of components_list | orderBy :'name': true">
                        <a [routerLink]="component.href">
                            <span class='glyphicon glyphicon-education'></span> {{component.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>