@{
    ViewData["Title"] = "Home Page";
}

<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="~/vendor/daterangepicker.js"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
