
x
<jobsite-header></jobsite-header>
<delivery-info ></delivery-info>

<div class="container-fluid paneless">

    

    <div class="row">
        <div class="col-md-6">
            <cemex-simple-card title="{{ t.pt('views.home.todaysorderstatus') }}">
                <cemex-progress-chart totalOrders="{{totalForToday}}" [chartData]="progressBarData"></cemex-progress-chart>
            </cemex-simple-card>
        </div>
        <div class="col-md-6">
            <cemex-simple-card title="{{ t.pt('views.home.todaysvolume') }}">
                <cemex-half-donut [chartData]="halfDonutData" [firstNumber]="firstNumber" [secondNumber]="secondNumber" [thirdNumber]="thirdNumber"></cemex-half-donut>
            </cemex-simple-card>
        </div>
    </div>

 
</div>



<br>
<div class="container-fluid">
    <order-ticket-header></order-ticket-header>
</div>

<div class="col-md-12" style="background-color: #fff; padding-left: 5%; margin-top: 5%;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div>
    </div>
    <!--<order-card></order-card>-->
</div>

 