.back {
    background-color: #EFF2F9;
    min-height: 1200px;
    margin-top: -64px;
}

.center-chart {
    margin-top: -8px;
    margin-bottom: -40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.paneless {
    padding: 24px 36px;
    background-color: #EFF1F8;
}